.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(28rem,1fr));
    gap: 1.5rem;


}
.products .box-container .box{
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    outline: .1rem solid #ccc;
    outline-offset: -1.5rem;
    cursor: pointer;
}

.products .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}
.products .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem
}

@media (max-width:991px){
    html{
        font-size:55%;
        
    }  
    
    header{
        padding:1rem 2rem;
    }
    section{
       padding: 2rem;
    }
}

@media (max-width:991px){
    html{
        font-size:50%;
        
    }  
    .products .box-container .box img{
       height: auto;
       width: 100%;
   }
}