@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section{

    padding:2rem 9%;
}
section:nth-child(even){
    background: #eee;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: #eee;
    box-shadow: -2px 0 4px hsl(0,4% 15% / 10%);
    transition: -0.3;
}
.cart-tittle{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;

}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;

}
.cart-image{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;

}
.detail-box{
    display: grid;
    row-gap: 0.5rem;
}
.cart-product-tittle{
    font-size: 1.5rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;

}
.cart-quantity{
    border: 1px solid var(--black) ;
    outline-color: #666;
    width: 3rem;
    text-align: center;
    font-size: 1rem;


}
.fa-trash{
    font-size: 1.5rem;
    color:rgb(173, 1, 1);
    cursor: pointer;
   
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
    text-decoration: none;
}
header .logo i{
    color:var(--green) ;
}
header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    justify-content: space-evenly;
    color:var(--light-color);
    text-decoration: none;
}
header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--green);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: #192a56;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;

}
.btn-buy:hover{
    background: #27ae60;
}
#close-cart{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color: #666;
    cursor: pointer;

}
.cart.active{
    right: 0;
}
.total-price{
    margin-left: 0.5rem;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--light-color);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color: #fff;
    background: var(--green);
    transform: rotate(360deg);
}
header .icons #extend-bars{
    display: none;
}

#search-form{
    position: fixed;
    top: -110%;left: 0;
    height: 100%; width: 100%;
    z-index: 1004;
    background: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}
#search-form.active{
    top: 0;
}

#search-form #search-box{
    width: 50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}
#search-form #search-box::placeholder{
    color: #eee;

}
#search-form #search-box::-webkit-search-cancel-button{
     -webkit-appearance: none;
}
#search-form label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;

}
#search-form label:hover{
    color: var(--green);
}
#search-form #close{
    position: absolute;
    color: #fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}
.home.home-slider.slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 9rem;
}
.home.home-slider.slide{
    flex:1 1 45rem;
}
.home.home-slider.image{
    flex:1 1 45rem;
}
.home.home-slider.image img{
    width: 100%;
}
.home.home-slider.content span{
    color: var(--green);
    font-size: 2.5rem;
    
}
.home.home-slider.content h3{
    color: var(--black);
    font-size: 7rem;
    
}
.home.home-slider.content p{
    color: var(--light-color);
    font-size: 2rem;
    padding: .5rem 0;
    
}
.bolobtn{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    margin-left: 3px;
    background:none ;

}
.bolobtn:hover{
    color: #fff;
    background: var(--green);
}
.exlpore{
    width: 24px;
    height: 18px;

}
.btn{

    background: #27ae60;
}
.btn a{
    color: #eee;
    text-decoration: none;
}
.carousel-caption h5{
    font-size: 30px;
}
.carousel-caption p{
    font-size: 20px;
}
.btn{
    margin-bottom: 10px;
    font-size: 15px;
}
.box-container a{
    
    text-decoration: none;
}
.container ul{
    list-style-type: none;
}
.container i{
    margin: 10px 10px;
    font-size: 20px;
}
.container ul{
    margin: 10px 10px;
    font-size: 15px;
}

.fa-facebook:hover{
    color: #1773ea;
    transform: translateY(-5px);
    border-radius: 40px;
}
.fa-instagram:hover{
    transform: translateY(-5px);
    border-radius: 40px;
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    
}
.fa-whatsapp:hover{
    transform: translateY(-5px);
    color: #46C254;
    border-radius: 40px;
}
.footer{
    
    box-shadow: var(--box-shadow);
    color: #fff;
    width: 100%;
    background: #192a56;
}
.footer-col{
    margin-top: 10px;
}
.card-img-top{
    background-color: #666;
}
.token{
    background-color: #eee;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    top: 20px;

}









































































































/* media queries */
@media (max-width:991px){
    html{
        font-size:55%;
        
    }  
    
    header{
        padding:1rem 2rem;
    }
}

@media (max-width:768px){
    header .icons #extend-bars{
        display: inline-block;
    }
    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 0 0);
    }
    header.navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }


    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size:2rem;
        background: #eee;
    }
}

@media (max-width:991px){
    html{
        font-size:50%;
        
    }  
}
